@import url("reset.css");

/* checkerboard background animation */

.checkboard2 {
  background: repeating-conic-gradient(#EF6262 0% 25%, #FFE89E 0% 50%) 50% /
    20px 20px; 
  background-size: 50px 50px;
  background-position:
    0 0,
    50px 50px;
  animation: slideAnimation 9s linear infinite;
  z-index: 100;
}

@keyframes slideAnimation {
  0% {
    background-position:
      0 0,
      50px 50px;
  }
  100% {
    background-position:
      100px 100px,
      150px 150px;
  }
}